<IfModule mod_authz_core.c>
  <DirectoryMatch "^.*/vendor/">
    Require all denied
  </DirectoryMatch>
</IfModule>
<FilesMatch "^(\.env|\.env\.example|composer\.(json|lock)|phpunit\.xml|error_log)$">
  Require all denied
</FilesMatch>
<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteRule ^vendor/ - [F,L]
</IfModule>

RewriteEngine On
RewriteBase /

DirectoryIndex index.php

RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.+)$ $1.php [L]

RewriteCond %{THE_REQUEST} \s/+index(\.php)?[\s?]
RewriteRule ^index(\.php)?$ / [R=301,L]

RewriteCond %{THE_REQUEST} \s/+(.+?)\.php[\s?]
RewriteRule ^ %1 [R=301,L]

RewriteRule ^.*$ /404.php [L]

ErrorDocument 404 /404.php

<IfModule mime_module>
  AddHandler application/x-httpd-ea-php81 .php .php8 .phtml
</IfModule>
